
<div class="interactions">
    {{#each interactions}}
        <ul class="interaction">
            <li class="input">{{this.input}}</li>
            <li class="output">{{this.output}}</li>
            <li class="time">{{this.time}}</li>
        </ul>
    {{/each}}
</div>
